* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parentdiv {
  background-color: white;
  height: 100px;
  font-family: sans-serif;
  color: gray;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.parentdiv1 {
  gap: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: 5%;
  align-items: center;
  margin-top: 2%;
  align-content: center;
  font-size: large;
  font-weight: 40;
}
.seconddiv {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.Shapely {
  font-size: xx-large;
  font-weight: 100;
  margin-top: 2%;
  margin-left: 3%;
}
.i {
  color: blue;
  margin-top: 30px;
}

.parent-div {
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(img/image7.jpeg);
  align-content: center;
  background-attachment: fixed;
}
.TEXT {
  color: white;
  font-size: 65px;
  font-family: initial;
  font-weight: 310;
  text-align: center;
  display: block;
  margin-bottom: auto;
  margin-top: auto;
}
.hero2 {
  display: block;
}
.ptags {
  margin-top: 10px;
  color: white;
  font-size: medium;
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
}
.parentbutton {
  justify-content: center;
  display: flex;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
  text-align: center;
}
.firstbutton {
  background-color: violet;
  width: 200px;
  height: 70px;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.secondbutton {
  background-color: transparent;
  width: 200px;
  height: 70px;
  color: white;
  border: 1px solid white;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.firstbutton:hover {
  background-color: blueviolet;
  width: 200px;
  height: 70px;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.secondbutton:hover {
  background-color: black;
  width: 200px;
  height: 70px;
  color: white;
  border: 1px solid black;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* new sec */

.parent-div3SEO-sectiondiv {
  height: 50vh;
}
.SEOsub-section-parentdiv {
  display: flex;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 50px;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.imagediv {
  width: 50%;
}
.writeup {
  width: 50%;
}
.writeup h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: 100;
}
.writeup p {
  font-size: large;
  color: rgb(119, 115, 115);
  margin-top: 20px;
  margin-bottom: 50px;
  width: 70%;
}
.SEObutton {
  width: 200px;
  height: 50px;
  background-color: rgb(112, 63, 228);
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.SEObutton:hover {
  width: 200px;
  height: 50px;
  background-color: burlywood;
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Portfolio-section {
  height: 70vh;
  background-color: whitesmoke;
}
.Portfolio-parentdiv {
  display: flex;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
}
.Portfolio-writeup {
  width: 50%;
  margin-top: 88px;
}
.Portfolio-writeup h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  font-weight: 100;
}
.Portfolio-writeup p {
  font-size: large;
  color: rgb(119, 115, 115);
  margin-top: 20px;
  margin-bottom: 50px;
  width: 73%;
}
.Portfoliobutton {
  width: 200px;
  height: 50px;
  background-color: rgb(112, 63, 228);
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}
.img2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.Portfolioimg {
  width: 72%;
  margin-top: 50px;
}
.Portfoliobutton:hover {
  width: 200px;
  height: 50px;
  background-color: burlywood;
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}

.smallparallaxsection {
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(img/image33.jpg);
  align-content: center;
}
/* .smallparallaxparentdiv {
  display: block;
} */
.parallaxtext {
  color: white;
  font-size: 65px;
  font-family: initial;
  font-weight: 310;
  text-align: center;
  display: block;
  margin-bottom: auto;
  margin-top: auto;
}
.parallaxnote {
  margin-top: 10px;
  color: white;
  font-size: medium;
  text-align: center;
  align-content: center;
  display: flex;
  justify-content: center;
  margin-left: 190px;
  margin-right: 190px;
}
.button1 {
  width: 200px;
  height: 48px;
  background-color: rgb(112, 63, 228);
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.limitsection {
  height: 30vh;
}
.limitparentdiv {
  margin-bottom: 20px;
}
.limittext {
  text-align: center;
  font-size: 27px;
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.limitnote {
  text-align: center;
  margin-top: 10px;
  color: grey;
}
.buttonlimit {
  width: 200px;
  height: 40px;
  background-color: rgb(112, 63, 228);
  color: white;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.picture {
  height: 100vh;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(img/photowork5.jpg);
  align-content: center;
}
.latestsection {
  height: 147vh;
  background-color: black;
  font-family: sans-serif;
  color: white;
}
.latestsection h2 {
  text-align: center;
  padding-top: 20%;
  font-size: xx-large;
  font-weight: 100;
}
.latestsection p {
  text-align: center;
  padding-top: 10px;
  font-weight: 100;
  font-size: 20px;
}
.photodiv {
  display: flex;
  flex-wrap: wrap;
  margin-top: 35px;
  height: 150vh;
}
.photodiv div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.photodiv div {
  width: calc(100% / 4);
  cursor: pointer;
  position: relative;
}
.photodiv .us {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: 0.3s ease-in-out;
}
.photodiv .us:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

/* .img-parentdiv div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.img-parentdiv div {
} */
/* .img-parentdiv {
  display: grid; */
/* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
/* grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
} */

/* what our coustomer said */
.customer {
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(img/photowork1.jpg);
  background-position: center;
  margin-top: 29%;
}
.pofcustomer h1 {
  text-align: center;
  padding-top: 100px;
  margin-top: 50px;
}
.Nunc {
  text-align: center;
  padding-top: 48px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  font-weight: 300;
  color: white;
}
.circle {
  width: 130px;
  height: 130px;
  background-repeat: no-repeat;
  border-radius: 100%;
  background-image: url(img/mike.jpg);
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}
.mike {
  padding-top: 150px;
  margin-left: 35px;
  color: whitesmoke;
}
/* .pofcustomer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: black;
  justify-content: center;
  padding-top: 2.5%;
  height: 100%;
  width: 95%;
}
.pofcustomer h1 {
  text-align: center;
  color: black;
  font-size: xx-large;
  margin-top: 30px;
  font-weight: 800;
  font-family: sans-serif;
  margin-bottom: 130px;
}
.pofcustomer p {
  text-align: center;
  width: 0%;
  display: flex;
  color: black;
  font-size: medium;
  font-family: tahoma;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
}


.mike {
  margin-top: 50px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  font-family: sans-serif;
} */
.client {
  background-color: white;
  height: 60vh;
  text-align: center;
  align-content: center;
  margin-bottom: 80px;
}
.parentclient {
  font-weight: 100;
  font-size: 34px;
  line-height: 32px;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
}
.logodiv {
  display: flex;
  grid-row-gap: 20px;
  justify-content: space-evenly;
  margin-top: 40px;
  gap: 80px;
}
.logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  gap: 100px;
}
.logo div img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  display: flex;
}
.faq {
  height: 60vh;
  background-color: whitesmoke;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  color: black;
}
.h {
  margin-top: 100px;
  margin-left: 50px;
  font-size: 200;
  font-style: italic;
  margin-right: 60px;
}
.down {
  margin-top: 40px;
  border-radius: 2px;
  height: 60px;
  width: 200px;
  background-color: rgb(174, 127, 236);
  font-family: sans-serif;
  font-style: normal;
  font-weight: 100;
  align-content: center;
  margin-top: 80px;
}
.down:hover {
  margin-top: 40px;
  border-radius: 2px;
  height: 60px;
  width: 200px;
  background-color: rgb(247, 66, 247);
  font-family: sans-serif;
  font-style: normal;
  font-weight: 100;
  align-content: center;
  margin-top: 80px;
  cursor: pointer;
}
.foot {
  background-color: black;
  height: 30vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-wrap: wrap;
  gap: 35%;
  text-align: center;
  align-items: center;
  align-content: center;
}
.foot h3 {
  color: white;
  font-family: tahoma;
}
.A {
  color: white;
  display: flex;
  gap: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}
.foot a {
  text-decoration: none;
  color: grey;
  transition: 0.3s ease-in-out;
}
.foot a:hover {
  transition: 0.3s ease-in-out;
  color: white;
}
/* 
.fot {
  color: white;
  display: flex; 
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
}
.span {
  color: gray;
  font-style: normal;
  font-family: tahoma;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: 0.3s ease-in-out;
  align-content: center;
}
.span:hover {
  color: white;
  font-style: normal;
  font-family: tahoma;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  cursor: progress;
  transition: 0.3s ease-in-out;
} */
/* what our coustomer said */
@media (max-width: 1440px) {
  .i {
  }
}
@media (max-width: 1024px) {
}

@media (max-width: 834px) {
  .SEOsub-section-parentdiv {
    flex-wrap: wrap;
    gap: 20px;
  }
  .imagediv {
    width: 100%;
  }
  .writeup {
    width: 100%;
  }
  .writeup p {
    width: 100%;
  }
  .Nunc {
    padding-top: 15px;
  }

  .parent-div3SEO-sectiondiv {
    height: auto;
  }
  .picture {
  }
}

@media (max-width: 834px) {
  .Portfolio-parentdiv {
    flex-wrap: wrap;
    gap: 20px;
  }
  .Portfolioimg {
    width: 100%;
  }
  .Portfolio-writeup {
    width: 100%;
    margin-top: 360px;
  }
  .Portfolio-writeup p {
    width: 100%;
  }
  .Portfolio-section {
    height: auto;
  }
}

@media (max-width: 834px) {
  .smallparallaxsection {
    margin-top: 100px;
    height: auto;
  }
  .down {
    margin-bottom: 30px;
  }
}

@media (max-width: 834px) {
  .photodiv {
    flex-wrap: wrap;
    width: calc(100% / 1);
  }
  .mike {
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .seconddiv {
    flex-wrap: wrap;
    font-size: normal;
    display: flex;
  }
  .parentdiv {
    display: flex;
    flex-wrap: wrap;
    font-size: normal;
  }
}
@media (max-width: 480px) {
  .parentdiv1 {
    font-size: smaller;
  }
  .seconddiv {
    font-size: smaller;
    font-weight: 10px;
  }
  .i {
    margin-left: 5px;
    float: left;
  }
}
